<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
     
    <header>
        <p> <b> <h4>El elemento (header)</h4> </b> contiene al encabezado de una sección o documento, donde se colocan habitualmente los 
            encabezados, los vínculos de navegación, los formularios de búsqueda, los logos, las tablas de contenidos, 
            las introducciones, etc. En muchos casos, los contenidos del encabezado de un documento son consistentes a 
            lo largo de todo el sitio.</p></h1>
        <nav>
        <p> <b> <h4>El elemento nav  </h4> </b> El elemento nav es un contenedor para enlaces de navegación, que se supone proveen formas de acceder a las secciones
                del sitio web, así como a documentos externos. Se supone que los vínculos dentro de este elemento corresponden a un 
                bloque de navegación principal únicamente.
        </p>
        </nav>
    </header>
    
     <section >
        <p><b> <h4>El elemento  (section)</h4> </b> representa una sección genérica de un documento. Sirve para determinar qué contenido 
            corresponde a qué parte de un esquema. Piensa en el esquema como en el índice de contenido de un libro; un tema común y 
            subsecciones relacionadas. Es, por lo tanto, una etiquéta semántica.</p>
            <article>
              <p><b><h4>El elemento (article) </h4></b>es un contenedor de bloques de contenido que se consideran independientes del sitio 
                web y pueden, por lo tanto, ser vistos, reutilizados y distribuidos por separado, </p>
            </article>
    
            <article>
                <p><b><h4>El elemento (article) </h4></b>es un contenedor de bloques de contenido que se consideran independientes del sitio 
                    web y pueden, por lo tanto, ser vistos, reutilizados y distribuidos por separado, </p>
            </article>
    
            <article>
                <p><b><h4>El elemento (article) </h4></b>es un contenedor de bloques de contenido que se consideran independientes del sitio 
                    web y pueden, por lo tanto, ser vistos, reutilizados y distribuidos por separado, </p>
            </article>

    </section>

        <aside>
            <p> <b> <h4>El elemento (aside)</h4> </b>  es un contenedor para información que se considera solo levemente relacionada al documento o 
                la sección en la que es definida. En otras palabras, el contenido del elemento aside debe estar relacionado al 
                contenido circundante, pero no ser completamente necesario para su comprensión. </p>

                <ul >
                    <li id="color"><h2>Html</h2></li>
                    <li><h2>Elemento header</h2></li>
                    <li><h2>Elemento nav</h2></li>
                    <li><h2>Elemento section</h2></li>
                    <li><h2>Elemento Aside</h2></li>
                    <li><h2>Elemento footer</h2></li>
                </ul>
                <br/>
                <br/>
        </aside>

        <footer>
            <p><b><h4>El elemento footer </h4></b> El elemento footer representa al pie de una sección o documento, donde los autores habitualmente colocan firmas, 
                información acerca del autor, información de licencias, documentos relacionados, etc. En muchos casos, los
                 contenidos del pie de un documento son consistentes a lo largo de todo el sitio.
            </p> 
        </footer>

 
 
</body>
</html>